html, body{
	width: 100%;
	height: 100%;
	font-family: 'Questrial', sans-serif;
}
header{
	height: 35px;
	border-bottom: solid #fafafa 3px;
}

#stationMenu{
	width: 50%;
	height: 100%;
	float: left;

}

#contain{
	text-align: center;
	width: 100%;
	height: 95%;
	float: left;
	overflow-x: hidden; 
    overflow-x: auto;
    background-color: #fafafa;
}
#carte_campus{
	width: 50%;
	height: 100%;
	float: right;
}
#filterdiv{
	width: 100%;
	height: auto;
	background-color: white;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;

}

.station{
	width: 160px;
	/*height: 125px;*/
	height: auto;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	border-bottom: solid lightgray 1.5px;
	padding: 10px;
	margin: 15px;
	vertical-align: baseline;
}


.name{
	color:#ff4d58;
	text-transform:capitalize;
	font-size: 19px;
	padding-bottom: 5px;
}

.commune{
	color:#ABABAB;
	font-style: italic;
	text-transform:capitalize;
	padding-bottom: 5px;
}
.bottom{
	display: inline-block;
	padding-top: 10px;
}
.bikeicon img{
	bottom: 0;
	width: 30px;
	height: 30px;
	float: left;
}
.diviconbike{
	display: block;
	bottom: 0;
	float: left;
	padding-right: 60px;
}
#check{
	float: left;
	font-size: 15px;
}
.placeicon img{
	bottom: 0;
	width: 30px;
	height: 30px;
	float: left;
	margin-bottom: 3px;
}
.diviconplace{
	display: block;
	bottom: 0;
	float: right;
}
#searchbar{
	position: relative;
	width: 25%;
	height: 30px;
	float: left;
	background-color: #fff;
	border: lightgray 1px solid;
	margin: 0 1.5em 1.5em 0;
	border-radius: 5px;
	overflow: hidden; 
	color: #ff4d58;
	padding-left: 10px;
	font-size: 15px;
	background: url(../../images/search.png);
	background-size: 12px 12px;
	background-position: 7px 10px;
	background-repeat: no-repeat;
	padding-left:30px;
}
#searchbar:focus{
	outline: none;
}

button{
	width:80px;
	height:30px;
	margin-left: 30px;
	background-color: #ff4d58 ;
	font-family: 'Questrial', sans-serif;
	color: white;
	font-size: 15px;
	border: 0px solid white;
	border-radius: 5px;
	outline: none;
	}

button:hover{
	border-bottom: solid lightgray 3px;
}

.formfield-select--container {
	
}

.bikes{
	color:#ABABAB;
	font-style: italic;
}

.places{
	height: auto;
	padding-top: 2px;
	color:#ABABAB;
	font-style: italic;
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 100%; 
	
	height: auto;
	border: 0; 
	margin: 0;
	padding: .75em;
	border-radius: 0;
	font-size: 12px;
	background-color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	width: 25%;
	float: left;
	background-color: #fff;
	border: lightgray 1px solid;
	margin: 0 1.5em 0 0;
	border-radius: 5px;
	overflow: hidden; 
	color: #5a5a5a;
	outline: none;

}


.formfield-select--container::after { 
	/* Le pointeur du select */
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}


#searchbar::placerholder{
	color:lightgray;
};




div.leaflet-popup-content-wrapper{
	color:red;
}